*{
  
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  padding-top: 8px;
  padding-right: 6px;
  padding-bottom: 11px;
  padding-left: 12px;
  

}
body{
    background-image: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?auto=compress&cs=tinysrgb&dpr=1&h=400&w=500"); 
    background-position: inherit;
    background-repeat: no-repeat;
}

.button{
    width: 80px;
    float: left;
    opacity: 0.6;
    background-color: #4CAF50; /* Green */
    border-radius: 2px;
}