header{
    background-image: url('https://images.pexels.com/photos/163166/coffee-envelopes-work-desk-notebook-163166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    height:800px;
    width:1300px;
    background-repeat: no-repeat;
    opacity: 2;

}